<h1>Hi, <%= current_user.fname %></h1>

<div class="row">

  <div class="col-md-4">
  	<h2>Boats</h2>
  	<%= form_for Boat.new do |form| %>

	  	<% if flash[:boat_error] %>
		  	<% flash[:boat_error].each do |msg| %>
				  <p class="alert alert-danger"><%= msg %></p>
		  	<% end %>
	  	<% end %>

  		<%= form.label :name %> <br>
  		<%= form.text_field :name %>
  		<br>
  		<%= form.label :container_capacity %> <br>
  		<%= form.number_field :container_capacity %>
  		<br>
  		<%= form.label :location %> <br>
  		<%= form.select "location", options_for_select(@locations) %>
  		<br>
  		<%= form.hidden_field :user_id, :value => current_user.id %> <br>
  		<%= form.submit %>
  	<% end %>
  </div>

  <div class="col-md-4">
  	<h2>Jobs</h2>
  	<%= form_for Job.new do |form| %>

  		<% if flash[:job_error] %>
		  	<% flash[:job_error].each do |msg| %>
				  <p class="alert alert-danger"><%= msg %></p>
		  	<% end %>
	  	<% end %>

  		<%= form.label :title %> <br>
  		<%= form.text_field :title %>
  		<br>
  		<%= form.label :date %> <br>
  		<%= form.date_field :date %>
  		<br>
  		<%= form.label :description %> <br>
  		<%= form.text_area :description %>
  		<br>
  		<%= form.label :origin %> <br>
  		<%= form.select "origin", options_for_select(@locations) %>
  		<br>
  		<%= form.label :destination %> <br>
  		<%= form.select "destination", options_for_select(@locations) %>
  		<br>
  		<%= form.label :cost %> <br>
  		<%= form.number_field :cost %>
  		<br>
  		<%= form.label :containers_needed %> <br>
  		<%= form.number_field :containers_needed %>
  		<br>
  		<br>
  		<%= form.submit %>
  	<% end %>
  </div>

  <div class="col-md-4">
  	<h2>Assign Boats-2-Jobs</h2>

  	<%= form_for BoatsJob.new do |form| %>
  		<%= form.label :boat_id %> <br>
  		<%= select_tag "boat_id", options_from_collection_for_select(@boats, "id", "name") %>
  		<br>
  		<%= form.label :job_id %> <br>
  		<%= select_tag "job_id", options_from_collection_for_select(@jobs, "id", "title") %>
  		<br>
  		<br>
  		<%= form.submit "Assign" %>
  	<% end %>
  </div>

</div>

<div class="row">
	<div class="col-md-4">
  	<h2>All Boats</h2>

  	<ul>
	  	<% @boats.each do |boat| %>
	  		<li><strong><%= boat.name %></strong></li>
	  		<p>Container Capacity: <%= boat.container_capacity %></p>
	  		<p>Location: <%= boat.location %></p>
	  	<% end %>
  	</ul>
  </div>

  <div class="col-md-4">
  	<h2>All Jobs</h2>

  	 <ul>
	  	<% @jobs.each do |job| %>
	  		<li><strong>Name: <%= job.title %></strong></li>
	  		<p>Date: <%= job.date.strftime("%m/%d/%Y") %></p>
	  		<p><%= job.description %></p>
	  		<p>Origin: <%= job.origin %></p>
	  		<p>Destination: <%= job.destination %></p>
	  		<p>Cost: <%= number_to_currency(job.cost, unit: "$") %></p>
	  		<p>Containers Needed: <%= job.containers_needed %></p>
	  	<% end %>
  	</ul>
  </div>

  <div class="col-md-4">
  	<h2>All Assignments</h2>

  	 <ul>
	  	<% @assignments.each do |assignment| %>
	  		<li>Boat: <%= assignment.boat.name %></li>
	  		<p>Job: <%= assignment.job.title %></p>
	  	<% end %>
  	</ul>
  </div>

</div>



